// 常用設定
*,*::before,*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--font-height);
  font-weight: var(--font-weight);
  @include pad {
    font-size: calc(var(--font-size) * 1.25);
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit; // 繼承 body  
  font-size: inherit;
  &:hover {
    text-decoration: underline;
  }
}