<nav class="navbar bg-primary">
  <div class="container pt-3 pb-md-3">
    <a href="../pages/index.html"><h1 class="mb-3 mb-md-0">glasses</h1></a>
    <ul class="navbar-nav text-white bg-primary fs-md-3">
      <li class="mx-md-5"><a href="../pages/products-optical.html">系列鏡框</a></li>
      <li class="mx-md-5"><a href="../pages/locations.html">門市據點</a></li>
      <li class="mx-md-5"><a href="../pages/blog.html">部落格</a></li>
      <li class="ms-md-5"><a href="../pages/faq.html">常見問題</a></li>
    </ul>
  </div>
</nav>