<nav class="container-lg">
  <ul class="nav row gx-0 text-center full-page">
    <li class="col border-gray">
      <a class="border-hover pt-4 pt-lg-5 pb-2 fs-md-4 fs-lg-5 fw-medium" href="../pages/products-optical.html">OPTICAL</a>
    </li>
    <li class="col border-gray">
      <a class="border-hover pt-4 pt-lg-5 pb-2 fs-md-4 fs-lg-5 fw-medium" href="../pages/products-sunglasses.html">SUNGLASSES</a>
    </li>
    <li class="col border-gray">
      <a class="border-hover pt-4 pt-lg-5 pb-2 fs-md-4 fs-lg-5 fw-medium" href="#">FUNCTIONAL</a>
    </li>
  </ul>
</nav>