.navbar {
  .container {
    @include pad {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  h1 {
    background: url(../images/logo-white.png);
    width: 80px;
    height: 48.57px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px; // 抵銷兩側 padding
    margin-right: -12px;
    @include pad {
      margin: 0;
    }
    li {
      width: 50%;
      @include pad {
        width: auto;
      }
    }
    a {
      display: block;
      text-align: center;
      border: 1px solid var(--white);
      padding: 12px 0;
      @include pad {
        border: none;
      }
    }
  }
}