.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  &.shadow {
    box-shadow: 0px 2px 6px #00000029;
    -webkit-box-shadow: 0px 2px 6px #00000029;
    -moz-box-shadow: 0px 2px 6px #00000029;
  }
  &-img-top {
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 4px 4px 0px 0px;
  }
  &-body {
    flex: 1 0 auto;
    padding: 16px;
  }
  &-footer {
    padding: 0 16px 16px;
    color: var(--gray-100);
  }
}
// product 頁面的卡片
.card-product {
  img {
    height: 168px;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
}