// 滿版背景
.bg-img {
  @include bg-img-set;
  &.banner {
    background-image: url(../images/home-header-sm.png);
    padding: 144px 0;
    @include pad {
      padding: 296px 0;
    }
    @include wed {
      background-image: url(../images/home-header.png);
    }
  }
  &.design {
    background-image: url(../images/index-bg-sm.png);
    @include wed {
      background-image: url(../images/index-bg.png);
    }
  }
}
// design 部分
.design-img {
  @include bg-img-set;
  background-image: url(../images/home-section4-1-sm.png);
  width: 100%;
  height: 240px;
  display: block;
  @include pad {
    background-image: url(../images/home-section4-1.png);
  }
  &.sec {
    background-image: url(../images/home-section4-2-sm.png);
    @include pad {
      background-image: url(../images/home-section4-2.png);
    }
    &+h4 {
      @include wed {
        border-left: 1px solid var(--border-color);
      }
  }
}
}
// font-style
.display-1 {
  text-align: center;
  font-weight: 700;
  color: var(--dark-red-200);
}
.display-2 {
  text-align: center;
  font-style: italic;
  font-weight: 900;
  color: var(--primary);
  font-size: 3rem;
}

.feature-icon {
  font-size: 100px;
}