.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.banner {
    background-image: url(../images/home-header-sm.png);
    padding: 144px 0;
    @include pad {
      padding: 296px 0;
    }
    @include wed {
      background-image: url(../images/home-header.png);
    }
  }
}
// font-style
.display-1 {
  text-align: center;
  font-weight: 700;
  color: var(--dark-red-200);
}
.display-2 {
  text-align: center;
  font-style: italic;
  font-weight: 900;
  color: var(--primary);
  font-size: 3rem;
}

.feature-icon {
  font-size: 100px;
}