<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg-img banner text-deep">
      <div class="container d-flex flex-column align-items-end">
        <p class="fs-md-6">Promise-Desert 2020 早春系列</p>
        <h2 class="fs-4 fs-md-7 fw-bold mb-2 mb-md-1">看得清，才能看得遠</h2>
        <button class="btn fs-3 fw-medium" type="button">立即購買</button>
      </div>
    </div>
    <div class="bg-secondary py-7 py-md-10">
      <div class="container">
        <h3 class="title-style mb-5">用專業的心，做專業的事</h3>
        <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-1">
          <li class="col">
            <div class="card">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                paid
              </span>
              <h4 class="title-style fs-4 mb-2">單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
          </li>
          <li class="col">
            <div class="card">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                schedule
              </span>
              <h4 class="title-style fs-4 mb-2">20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </div>
          </li>
          <li class="col">
            <div class="card">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                favorite_border
              </span>
              <h4 class="title-style fs-4 mb-2">安心售後服務</h4>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
          </li>
          <li class="col">
            <div class="card">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                voicemail
              </span>
              <h4 class="title-style fs-4 mb-2">關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
