<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg-img banner text-deep">
      <div class="container d-flex flex-column align-items-end">
        <p class="fs-md-6">Promise-Desert 2020 早春系列</p>
        <h2 class="fs-4 fs-md-7 fw-bold mb-2 mb-md-1">看得清，才能看得遠</h2>
        <button class="btn fs-3 fw-medium" type="button">立即購買</button>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
