<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg-img banner text-deep">
      <div class="container d-flex flex-column align-items-end">
        <p class="fs-md-6">Promise-Desert 2020 早春系列</p>
        <h2 class="h2 fw-bold mb-2 mb-md-1">看得清，才能看得遠</h2>
        <button class="btn fs-3 fw-medium" type="button">立即購買</button>
      </div>
    </div>
    <div class="bg-secondary py-7 py-md-11">
      <div class="container">
        <h3 class="h3 display-1 mb-5">用專業的心，做專業的事</h3>
        <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2">
          <li class="col">
            <div class="card align-items-center">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                paid
              </span>
              <h4 class="display-1 fs-4 mb-2">單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
          </li>
          <li class="col">
            <div class="card align-items-center">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                schedule
              </span>
              <h4 class="display-1 fs-4 mb-2">20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </div>
          </li>
          <li class="col">
            <div class="card align-items-center">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                favorite_border
              </span>
              <h4 class="display-1 fs-4 mb-2">安心售後服務</h4>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
          </li>
          <li class="col">
            <div class="card align-items-center">
              <span class="feature-icon material-icons-outlined text-deep mb-4">
                voicemail
              </span>
              <h4 class="display-1 fs-4 mb-2">關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container py-7 py-md-11">
      <h3 class="h3 display-1 mb-5 mb-md-8">經典系列鏡框</h3>
      <ul class="row gy-2 flex-column align-items-center flex-lg-row">
        <li class="col col-md-6 col-lg-4">
          <div class="card">
            <a href="products-optical.html">
              <img class="mb-2" src="../assets/images/home-section3-1.png" alt="optical">
            </a>
            <h4 class="display-2">OPTICAL</h4>
          </div>
        </li>
        <li class="col col-md-6 col-lg-4">
          <div class="card">
            <a href="products-sunglasses.html">
              <img class="mb-2" src="../assets/images/home-section3-2.png" alt="sunglasses">
            </a>
            <h4 class="display-2">SUNGLASSES</h4>
          </div>
        </li>
        <li class="col col-md-6 col-lg-4">
          <div class="card">
            <a href="#">
              <img class="mb-2" src="../assets/images/home-section3-3.png" alt="functional">
            </a>
            <h4 class="display-2">FUNCTIONAL</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="bg-img design">
      <div class="container py-7 py-md-11">
        <h3 class="h3 display-1 text-white mb-5 mb-md-8">聯名設計鏡框</h3>
        <ul class="row gy-2 gx-0 flex-column flex-lg-row">
          <li class="col col-lg-6">
            <div class="card">
              <a href="#" class="design-img"></a>
              <h4 class="display-2 bg-white py-2">DOUBLE A+</h4>
            </div>
          </li>
          <li class="col col-lg-6 border-start">
            <div class="card">
              <a href="#" class="design-img sec"></a>
              <h4 class="display-2 bg-white py-2">YOUTH</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container py-7 py-md-11">
      <h3 class="h3 display-1 mb-5 mb-md-8">顧客推薦</h3>
      <ul class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gy-1 gy-md-2">
        <li class="col">
          <div class="card border shadow rounded">
            <img class="card-img-top" src="../assets/images/home-section5-1.png" alt="customer1" style="height: 306px;">
            <div class="card-body pb-10">
              <p class="fw-medium mb-2">Jessy</p>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <p class="card-footer fs-1">2021/06/20</p>
          </div>
        </li>
        <li class="col">
          <div class="card border shadow rounded">
            <img class="card-img-top" src="../assets/images/home-section5-2.png" alt="customer2" style="height: 306px;">
            <div class="card-body pb-10">
              <p class="fw-medium mb-2">凱倫</p>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="card-footer fs-1">2021/04/18</p>
          </div>
        </li>
        <li class="col">
          <div class="card border shadow rounded">
            <img class="card-img-top" src="../assets/images/home-section5-3.png" alt="customer3" style="height: 306px;">
            <div class="card-body pb-10">
              <p class="fw-medium mb-2">悠悠</p>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <p class="card-footer fs-1">2020/12/25</p>
          </div>
        </li>
        <li class="col">
          <div class="card border shadow rounded">
            <img class="card-img-top" src="../assets/images/home-section5-4.png" alt="customer4" style="height: 306px;">
            <div class="card-body pb-10">
              <p class="fw-medium mb-2">Kyuan</p>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="card-footer fs-1">2020/10/31</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="bg-secondary">
      <div class="container py-7 py-md-11">
        <h3 class="h3 display-1 mb-5 mb-lg-8">聯絡我們</h3>
        <form action="#" method="post" class="row flex-column align-items-md-center">
          <div class="col col-md-10 col-lg-6 mb-5">
            <p class="fs-lg-3">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          </div>
            <div class="col col-md-10 col-lg-6">
              <label for="name">姓名</label>
              <input type="text" id="name" name="name" placeholder="陳小明">
            </div>
            <div class="col col-md-10 col-lg-6">
              <label for="phone">聯絡電話</label>
              <input type="tel" id="phone" name="phone" placeholder="0912-345-678">
            </div>
            <div class="col col-md-10 col-lg-6">
              <label for="email">電子郵件</label>
              <input type="email" id="email" name="email" placeholder="example@email.com">
            </div>
            <div class="col col-md-10 col-lg-6">
              <label for="feedback">意見反應</label>
              <input type="text" id="feedback" name="feedback" placeholder="請輸入您的意見">
            </div>
            <div class="col col-md-10 col-lg-6 d-flex align-items-start mb-lg-7">
              <input type="checkbox" id="privacy-agree" name="privacy-agree">
              <label for="privacy-agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <div class="col col-md-6 col-lg-4">
              <input type="submit" value="確認送出" class="btn fw-bold py-4">
            </div>
          </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
