<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/product-categories'); -%>

    <div class="row img-banner optical">
      <div class="col"></div>
      <div class="col sec"></div>
    </div>
    <div class="container mt-7 mb-9 my-md-11">
      <h2 class="h4 text-center mb-5 mb-md-6"><span class="fw-medium">Celluloid Combi</span><br>賽璐珞鈦金屬混合鏡框</h2>
      <ul class="row gy-2 gy-md-3 gy-lg-4 row-cols-1 row-cols-md-2 row-cols-lg-4 mb-9 mb-md-11">
        <li class="col">
          <div class="card-product">
            <img src="../assets/images/product-1.png" alt="product1">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card-product">
            <img src="../assets/images/product-2.png" alt="product2">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card-product">
            <img src="../assets/images/product-3.png" alt="product3">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card-product">
            <img src="../assets/images/product-4.png" alt="product4">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card-product">
            <img src="../assets/images/product-5.png" alt="product5">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-md-block">
          <div class="card-product">
            <img src="../assets/images/product-6.png" alt="product6">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-md-block">
          <div class="card-product">
            <img src="../assets/images/product-1.png" alt="product7">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-md-block">
          <div class="card-product">
            <img src="../assets/images/product-2.png" alt="product8">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-md-block">
          <div class="card-product">
            <img src="../assets/images/product-3.png" alt="product9">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-md-block">
          <div class="card-product">
            <img src="../assets/images/product-4.png" alt="product10">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-lg-block">
          <div class="card-product">
            <img src="../assets/images/product-5.png" alt="product11">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
        <li class="col d-none d-lg-block">
          <div class="card-product">
            <img src="../assets/images/product-6.png" alt="product12">
            <div class="d-flex justify-content-between fs-4">
              <p>BJ41600S</p>
              <p class="fw-medium text-primary">NTD3,490</p>
            </div>
            <div class="d-flex">
              <a href="#" class="btn-square bg-brown me-2"></a>
              <a href="#" class="btn-square"></a>
            </div>
          </div>
        </li>
      </ul>
      <nav>
        <ul class="pagination">
          <li><a href="#">上一頁</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">下一頁</a></li>
        </ul>
      </nav>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
