// size
@each $number, $font-size in $font-sizes {
  .fs-#{$number} {
    font-size: $font-size;
  }
}

@include pad {
  @each $number, $font-size in $font-sizes {
    .fs-md-#{$number} {
      font-size: $font-size;
    }
  }
}

// weight
.fw-black {
  font-weight: 900;
}
.fw-bold {
  font-weight: 700;
}
.fw-medium {
  font-weight: 500;
}