// 響應式
@mixin pad{
  @media(min-width:768px){
    @content
  }
};
@mixin wed{
  @media(min-width:1200px) {
    @content
  }
};

// 格線
@mixin gutter-base($mx, $px, $mt) {
  margin-left: calc(var(--gutter-x) * $mx);
  margin-right: calc(var(--gutter-x) * $mx);
  padding-left: calc(var(--gutter-x) * $px);
  padding-right: calc(var(--gutter-x) * $px);
  margin-top: calc(var(--gutter-y) * $mt);
};

// background image 
@mixin bg-img-set{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}